:root {
    --money-green: #85BB65;

  }
/* 
  *{
      border: 1px solid blue;
  } */



.card-back {
    background-image:  "/basketball/jordan_back.jpg";
}
.title {
    text-align: center;
    /* background: black;
    opacity: 0.3; */
    box-sizing: border-box;
    text-align: left;
    font-weight: 500;
    border-bottom: 3px solid black;

}
.container-new{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 50px auto;
    width: 80vw;
    height: 80vw;
    border-radius: 20px;
    background-image: url('/website_images/multiple_cards.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(ghostwhite, royalblue); */
}
.container-show{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 50px auto;
    width: 80vw;
    height: 70vw;
    border-radius: 20px;
}
.showImage{
    width: 48vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    z-index: 1;
}
.showInfo{
    text-align: end;
    height: 60vw;
    background-image: linear-gradient(rgba(255,215,0,0), rgb(255, 215, 0, 1), rgba(255,215,0,0));

}
.showCardValue{
    /* border-top-style: double;
    border-right-style: double;
    border-top-color: rgba(255, 215, 0, 1);
    border-right-color: rgba(255, 215, 0, 1); */
    color: var(--money-green);
    margin: 0 0 5px 0;

}




.new-form {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    margin: 5px;
    padding: 10px;
    text-align: end;
    background-image: linear-gradient(to left, rgba(65,105,225,0.8),rgba(65,105,225,0.5));
    color: white;
}
.submit-btn:hover {
    cursor: pointer;
    background: var(--money-green);
    box-shadow: 2px 2px var(ghostwhite);
  }
label {
    display: block
}
.index-name{
    text-align: center;
    margin: 10px 0px -10px 0px;
}
.full-card{
    background-image: linear-gradient(rgba(255,215,0,1), rgb(255, 215, 0, 0))
}
.full-card-rookie{
    background-image: linear-gradient(rgba(255,215,0,1), rgb(255, 215, 0, 0.5))
}
.delete-button{
    background-color: rgba(255,0,0,0.5);
    color: white;
}
.delete-button:hover{
    background-color: rgba(255,0,0,1);
    color: white;
}
#modal{
    background-color: black;
    width: 30vw;
    height: 20vw;
    z-index: 1;
    overflow: auto;
    display: none;
}
#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	padding: 2%;
	line-height: 120%;
	font-family: Arial;
}
.footer {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ghostwhite;
    color: royalblue;
    text-align: center;
  }

  .footer-font{
      font-size: .5em;

  }
  .closed-binder{
    display: grid;
    margin: 50px auto;
    width: 100vw;
    height: 80vw;
    border-radius: 20px;
    background-image: url('../website_images/closed_binder.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }

  .open-binder{
    display: none;
    margin: 50px auto;
    width: 100vw;
    height: 80vw;
    border-radius: 20px;
    background: url('../website_images/open_binder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wood{
    background: url('../website_images/wood.jpg');
    background-size: cover;
}
.small-margin{
    margin: 5px;
}